<div class="pagination d-flex align-items-center justify-content-between p-2">
    <div class="w-25 text-center">
        <svg class="cursor-pointer" (click)="previousPage()" xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 8 14" fill="none">
            <path d="M7.15858 12.6569L1.50172 7L7.15858 1.34315" stroke="#43A9BC" stroke-width="1.5" />
        </svg>
    </div>
    <div class="w-50 text-center border-start border-end">
        <span class="fs-7">{{ currentPage }} OF {{ totalPages }}</span>
    </div>
    <div class="w-25 text-center">
        <svg class="cursor-pointer" (click)="nextPage()" xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 9 14" fill="none">
            <path d="M1.47228 1.34315L7.12914 7L1.47228 12.6569" stroke="#43A9BC" stroke-width="1.5" />
        </svg>
    </div>
</div>
