<div class="d-flex align-items-center select_time">
    <select [disabled]="disabled" class="form-select" id="hours" [(ngModel)]="selectedHour" (change)="onTimeChange()">
      <option *ngFor="let hour of hoursArray" [value]="hour">{{ formatWithLeadingZero(hour) }}</option>
    </select>
    
    <select [disabled]="disabled" class="form-select" id="minutes" [(ngModel)]="selectedMinute" (change)="onTimeChange()">
      <option *ngFor="let minute of minutesArray" [value]="minute">{{ formatWithLeadingZero(minute) }}</option>
    </select>
  </div>
  